/* Master styles */
body {
	font-family: "Lato", sans-serif;
	margin: 0px;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
}

/* Nav styles */
.nav-wrapper {
	display: flex;
	justify-content: space-between;
	background: rgba( 255, 255, 255, 0.97);
	padding-left: 38px;
	padding-right: 38px;
	padding-top: 25px;	
	padding-bottom: 25px;
	position: sticky;
	top: 0;
	z-index: 1;
}

.left-side {
	display: flex;
	
}
.nav-wrapper > .left-side > div{
	margin-right: 20px;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
}

.right-side {
	margin-top: 10px;
}

.nav-link-wrapper {
	height: 40px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s;
}

.nav-link-wrapper.scrolled {
	color: white;
	height: 40px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s;
}


.nav-link-wrapper a {
	color: #8a8a8a;
	text-decoration: none;
	transition: color 0.5s;
}
.nav-link-wrapper:hover {
	border-bottom: 1px solid black;
}
.nav-link-wrapper a:hover {
	color: black;
}
.active-nav-link {
	border-bottom: 1px solid black;
}

.active-nav-link a {
	color: black !important;
}

.content-wrapper {
	z-index: auto; /*So nav can be on top when scrolling*/
	height: 1500px;
}

/* Portfolio styles */
.portfolio-items-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.portfolio-item-wrapper {
	position: relative;
}

.portfolio-img-background {
	height: 350px;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}
.img-text-wrapper {
	 position: absolute;
	 top: 0;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 height: 100%;
	 text-align:center;
	 padding-left: 100px;
	 padding-right: 100px;
}

.logo-wrapper img{
	width: 50%;
	margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
	transition: 1s;
	font-weight: 600;
	color: transparent;
}

.img-text-wrapper:hover .subtitle {
	font-weight: 600;
	color: lightseagreen;
}
.img-darken {
	transition: 1s;
	filter: grayscale(80%) brightness(50%);
		
}
/*view*/
.picture-wrapper {
	width: auto;
	height: 1000px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.final-message {
	padding-top: 950px;
}
.square{
    width: 100%;
    height: 25px;
    background-color: rgba( 255, 255, 255, 0.5);
	padding:10px;

}
 /* About page styles*/
 .two-column-wrapper {
	 display: grid;
	 grid-template-columns: 1fr 1fr;
 }
 
 .profile-image-wrapper img {
	 width: 50%;
	 padding-left: 100px;
 }
 
 .profile-content-wrapper {
	 padding: 30px;
 }
 
 .profile-content-wrapper h1 {
	 color: lightseagreen;
 }
 /* Snake */
.snake-container {
	display: flex;
    align-items: center;
    justify-content: center;
}
/*todo*/

/*end todo*/

/*Recipes*/

.recipe-image-wrapper {
	padding-top: 100px;
	padding-left: 300px;
}
/*Message */
.message-container {
	padding: 30px;
}